* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background:#ffffff;
}
.header {
    max-width: 1440px;
    margin: 0 auto;
    background: #ffffff;
}
.header_top {
    width: 80%;
    display: flex;
    justify-content: center;
    background: #ffffff;
    margin: 0 auto;

}
.header_top_inner {
    max-width: 1240px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 131px;
    height: 72px;
    background: url(./img/logo\ \(1\)\ 1.png);
}
.header_top_line {
    width: 1px;
    height: 40px;
    background: #E2E2E2;
    margin-left: 30px;
    margin-right: 20px;
}
.countries {
    width: 25px;
    height: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ua {
    width: 24px;
    height: 18px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.ru {
    width: 25px;
    height: 20px;
    font-size: 14px;
    background: #4AD295;
    color: #ffffff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.currencies {
    width: 75px;
    height: 50px;
}
.usd {
    font-size: 14px;
    color: #393939;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.eur{
    font-size: 14px;
    color: #393939;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.social_media {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
}
.facebook {
    margin-right: 15px;
    color: #393939;
}
.instagram {
    margin-right: 15px;
    color: #393939;
}
.youtube {
    margin-right: 15px;
    color: #393939;
}
.phone_numbers {
    width: 175px;
    height: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 23px 23px;
}
.firstnum {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 14px;
    color: #393939;
    border-radius: 2px;
    font-weight: bold;
}
.secondnum {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 14px;
    color: #393939;
    border-radius: 2px;
    font-weight: bold;
}
.phoneicon {
    grid-column: 2/3;
    grid-row: 1/3;
    color: #393939;
}
.header_top_buttons{
    margin-top: 16px;
    width: 475px;
    height: 72px;
    display: flex;
}
.header_top_button_bg_calendar {
    width: 240px;
    height: 55px;
    border-radius: 2px;
    margin-right: 30px;
    background: #EFF3F6;
    display: flex;
    align-items: center;
    justify-content: start;
}
.header_top_button_bg_calendar p{
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}
.header_top_button_bg_search {
    width: 205px;
    height: 55px;
    border-radius: 2px;
    background: #EFF3F6;
    display: flex;
    align-items: center;
    justify-content: start;
}
.header_top_button_bg_search p{
    margin-left: 14px;
    font-size: 16px;
    font-weight: bold;
}
.header_top_button_calendar {
    width: 55px;
    height: 55px;
    border-radius: 2px;
    margin-left: 21px;
    background: #DD4053;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_top_button_bg_calendar i {
    color: #ffffff;
}
.header_top_button_search {
    width: 55px;
    height: 55px;
    margin-left: 18px;
    border-radius: 2px;
    background: #4AD295;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_top_button_bg_search i {
    color: #ffffff;
}

.header_line {
    max-width: 1440px;
    height: 1px;
    margin: 0 auto;
    background: #D0D0D0;
}

.header_nav {
    max-width: 1440px;
    height: 70px;
    margin: 0 auto;
    background: #ffffff;
}

.header_nav_inner{
    max-width: 1093px;
    height: 42px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.header_nav_inner ul{
    list-style-type: none;
    display: flex;
    margin-top: 28px;
}

.header_nav_inner ul li{
    margin-left: 56px;
    font-size: 14px;
    
    display: flex;
}
.header_nav_inner ul li a{
    color: #616161;
    text-decoration: none;
}
.header_nav_inner ul li i{
    color: #C4C4C4;
}
.header_nav_inner ul li #iconnn{
    color: #393939;
}
.hotels {
    width: 61px;
}
.nav_countries {
    width: 69px;
}
.avia {
    width: 50px;
}
.tour_catalog {
    width: 105px;
}
.to_agents {
    width: 77px;
}
.about_us {
    width: 57px;
}
.vlog {
    width: 34px;
}
.faq {
    width: 29px;
}
.contacts {
    width: 71px;
}
.header_nav_inner ul li:hover{
    font-weight: bold;
}
.header_main {
    max-width: 1440;
    height: 500px;
    background: url(./img/maxresdefault\ \(1\)\ 2.png);
}
.header_main_gradient {
    max-width: 1440;
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0),#000);
}
.price {
    width: 249px;
    height: 45px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 104px;
    left: 199px;
}
.price h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.text{
    max-width: 725px;
    text-transform: uppercase;
    font-weight: medium;
    font-size: 30px;
    color: #ffffff;
    position: relative;
    top: 121px;
    left: 199px;
}

.header_main_button {
    width: 270px;
    height: 60px;
    background: #ffffff25;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 154px;
    left: 199px;
}
.header_main_button h2 {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    
}


.header_footer {
    max-width: 1440px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header_footer_left_side {
    width: 520px;
    height: 250px;
    display: flex;
    flex-direction: column;
    
}

.header_footer_left_side p {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.header_footer_left_side h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #777777;
    text-transform: uppercase;
    margin: 20px 0;
}

.header_footer_buttons {
    width: 520px;
    height: 50px;
    display: flex;
}

.button_1 {
    width: 270px;
    height: 50px;
    border-radius: 2px;
    background: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.button_1 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    
}
.button_2 a{
    text-decoration: none;
    color: #969696;
    font-size: 16px;
}
.button_2 {
    width: 220px;
    height: 48px;
    border: 1px solid #969696;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.header_footer_right_side {
    width: 520px;
    height: 250px;
}
.header_footer_right_side ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header_footer_list_item {
    width: 370px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    margin-left: 180px;
    align-items: center;
    margin-top: 15px;
}
.header_footer_list_item h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}


.circle {
    width: 45px;
    height: 45px;
    border: 1.2px dashed #969696;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.circle i {
    color: #969696;
}

.person {
    width: 20px;
    height: 20px;
    background: url(./img/Frame\ 23.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heart {
    width: 20px;
    height: 20px;
    background: url(./img/Frame\ 24.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_nav {
    max-width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_left {
    width: 50px;
    height: 50px;  
    border-radius: 50px; 
    border: 1px solid #c6c6c6;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.arrow_right {
    width: 50px;
    height: 50px;   
    border: 1px solid #454545;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.arrow_left a {
        color: #c6c6c6;
}
.arrow_right a {
        color: #454545;
}

.horiz_line{
    width: 237px;
    height: 1px;
    background: #c4c4c4;
    margin-right: 30px;
}

.button_3 {
    width: 140px;
    height: 45px;
    border: 1px solid #969696;
    border-radius: 2px;
}

.main_nav p{
    color: #232323;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 50px;
}

.button_3 a{
    text-decoration: none;
}

.button_3 a p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #969696;
    margin: 14px 24px;
}

.besthotels_photos {
    max-width: 1440px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 460px;
    height: 450px;
}

.title {
    width: 195px;
    height: 30px;
    background:rgba(0,0,0,0.35);
    position: relative;
    top: -430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.rate {
    width: 115px;
    height: 18px;
    position: relative;
    top: -300px;
    color: #ffd600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 170px;
}

.rate i {
    margin: 0 2.5px;
}

.name {
    width: 250px;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    font-weight: bold;
    top: -270px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    width: 1440px;
    height: 370px;
    background: url(./img/SloveniaHeader\ 3.png);
    background-repeat: no-repeat;
}

.footer-gradient {
    width: 100%;
    height: 370px;
    background: linear-gradient(#ECECEC,#e8e8e800, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_inner {
    width: 70%;
    height: 172px;
    display: flex;
    flex-direction: column;
}

.links {
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.links img {
    width: 156px;
    height: 86px;
    
}

.links ul {
    list-style-type: none;
}
.links ul li {
    font-size: 15px;
    color: #3E3E3E;
    font-weight: bold;
    margin-bottom: 5px;
}

.workdays {
    font-size: 12px;
    color: #3E3E3E80;
}

.allcontacts {
    font-size: 12px;
    color: #3E3E3E80;
    margin-top: 20px;
}

.footer_line {
    width: 1037px;
    height: 1px;
    background: #1D1D1D20;
}

.footer_bottom {
    width: 1037px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom p{
    font-size: 14px;
    color: #3E3E3E80;
}

@media screen and(max-width:767px) {
    .header_top {
        flex-direction: column;
    }
    .header_top_line {
        width: 90%;
        height: 1px;
    }
    .countries {
        width: 90px;
        height: 30px;
        flex-direction: row;
    }


}